@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 3.6%;
      --foreground: 0 0% 98%;
    }
  }
}

@layer base {
  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-50;
  }
}
